* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e2e8f0;
}

/* NAVBAR */
nav {
  background-color: #1C2636;
  border-bottom: 2px solid #64748b;
  box-shadow: none;
}

.navbar .nav-item .nav-link {
  color: #f1f5f9;
  font-weight: 500;
}

.quote-btn {
  font-weight: 500;
  border: 2px solid #BC943B;
  color: #f1f5f9;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 10px 20px;
}

.quote-btn:hover {
  color: #f1f5f9;
  background-color: #BC943B;
  transform: scale(1.05);
}

.container .nav-item .nav-link:hover {
  color: #BC943B;
}

.custom-toggler {
  border: none;
  background: transparent;
  outline: none;
  padding: 5px;
}

/* Make the icon match nav-item colors */
.custom-toggler i {
  font-size: 1.8rem;
  /* Adjust size if needed */
  color: #f1f5f9;
  /* Change to match your nav-link color */
  transition: color 0.3s ease-in-out;
}

/* Change color on hover */
.custom-toggler:hover i {
  color: #ffb600;
  /* Adjust hover color */
}

.custom-toggler:focus,
.custom-toggler:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* NAVBAR */

/* HEADER */
#image {
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/frontends/images/home/bg.png);
}

.image-overlay {
  padding: 10rem;
  width: 100%;
  height: 40vh;
  background-color: rgba(0, 62, 124, 0.8);
}

.image-text h1 {
  text-align: left;
  color: #f1f5f9;
  opacity: 1;
  font-size: 50px;
}

.image-text p {
  color: #f1f5f9;
  font-size: 18px;
  font-weight: 300;
  opacity: 1;
}

#general-tab-header {
  width: 100%;
  height: 45vh;
  background-color: #003E7C;
  position: relative;
  padding-top: 100px;
}

.general-tab-header-box {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}

.general-tab-header-box h1 {
  font-size: 60px;
  color: #f1f5f9;
  font-weight: 600;
  letter-spacing: 10px;
}

.general-tab-header-box p {
  font-size: 18px;
  color: #f1f5f9;
}

/* HEADER */

/* CONTENTS */
#articles {
  width: 100%;
  height: auto;
}

.articles-tab {
  padding: 30px;
  text-align: center;
}

.articles-tab h2 {
  color: #064e3b;
  font-size: 40px;
  margin-bottom: 30px;
}

.news-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(8, 8, 8, 0.5);
}

.articles-box a {
  text-decoration: none;
  color: #122444;
}

.news-card {
  background: #f1f5f9;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.news-card img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.meta-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  color: #4a535c;
  font-size: 14px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.meta-info i {
  font-size: 16px;
  margin-right: 5px;
}

.news-title {
  font-weight: 500;
  font-size: 17px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #122444;
}

/* CONTENTS */

/* FOOTER */
.footer {
  background-color: #1C2636;
  color: #f1f5f9;
  padding: 40px 0;
}

.footer-box {
  display: flex;
  justify-content: center;
}

.footer-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-images img {
  width: 80%;
}

.footer a {
  color: #f1f5f9;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: #f1f5f9;
  font-size: 20px;
  margin-right: 10px;
}

.quick-links {
  width: 15%;
}

.quick-links ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.quick-links li a {
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.quick-links li:hover {
  transform: scale(1.05);
}

.divider {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}

/* FOOTER */