* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #e2e8f0;
}

/* NAVBAR */
.navbar {
    /* background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #64748b; */
    box-shadow: none;
    transition: background-color 0.4s ease-in-out;
    padding: 50px 600px;
}

.navbar.scrolled {
    border-bottom: 1px solid #64748b;
    background-color: #122444;
    opacity: 1;
}

.navbar-brand img {
    width: 350px;
    height: auto;
}

.navbar .nav-item .nav-link {
    color: #f1f5f9;
    font-weight: bold;
}

.container .nav-item .nav-link:hover {
    color: #BC943B;
}

.custom-toggler {
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
}

/* Make the icon match nav-item colors */
.custom-toggler i {
    font-size: 1.8rem;
    /* Adjust size if needed */
    color: #f1f5f9;
    /* Change to match your nav-link color */
    transition: color 0.3s ease-in-out;
}

/* Change color on hover */
.custom-toggler:hover i {
    color: #ffb600;
    /* Adjust hover color */
}

.custom-toggler:focus,
.custom-toggler:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

/* NAVBAR QUOTE BTN DESIGN */
.quote-btn {
    --color: #f1f5f9;
    padding: 0.8em 1.2em;
    border-radius: 999px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
    border: 2px solid #BC943B;
    color: var(--color);
    z-index: 1;
}

.quote-btn::before,
.quote-btn::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #BC943B;
    transition: 0.8s ease;
}

.quote-btn::before {
    top: -1em;
    left: -1em;
}

.quote-btn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.quote-btn:hover::before,
.quote-btn:hover::after {
    height: 410px;
    width: 410px;
}

.quote-btn:hover {
    color: #f1f5f9;
}

.quote-btn:active {
    filter: brightness(1);
}

/* END OF QUOTE BTN DESIGN */
/* END OF NAVBAR */

/* HEADER */
#image {
    width: 100%;
    height: auto;

}

.bg-image {
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/frontends/images/home/bg.png);
}

.image-overlay {
    padding: 10rem;
    width: 100%;
    height: 35vh;
    background-color: rgba(0, 62, 124, 0.8);
}

.image-text h1 {
    text-align: left;
    color: #f1f5f9;
    opacity: 1;
    font-size: 50px;
}

.image-text p {
    color: #f1f5f9;
    font-size: 18px;
    font-weight: 300;
    opacity: 1;
}

#general-tab-header {
    width: 100%;
    height: 45vh;
    background-color: #003E7C;
    position: relative;
    padding-top: 100px;
}

.general-tab-header-box {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

.general-tab-header-box h1 {
    font-size: 60px;
    color: #f1f5f9;
    font-weight: 600;
    letter-spacing: 10px;
}

.general-tab-header-box p {
    font-size: 18px;
    color: #f1f5f9;
}

/* BACK BTN DESIGN */
.back-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font: 16px;

    --color: #f1f5f9;
    padding: 0.2em 1.2em;
    border-radius: 999px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    border: 2px solid #BC943B;
    color: var(--color);
    z-index: 1;
}

a:link,
a:visited {
    text-decoration: none;
}

.back-btn i {
    font: 16px;
    transition: transform 0.3s ease;
}

.back-btn:hover i {
    transform: translateX(-5px) rotate(360deg);
}

.back-btn::before,
.back-btn::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #BC943B;
    transition: 0.8s ease;
}

.back-btn::before {
    top: -1em;
    left: -1em;
}

.back-btn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.back-btn:hover::before,
.back-btn:hover::after {
    height: 410px;
    width: 410px;
}

.back-btn:hover {
    color: #f1f5f9;
}

.back-btn:active {
    filter: brightness(1);
}

/* END OF BACK BTN DESIGN */

/* HEADER */

/* QUOTATION */
.payment {
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
}

.pdf-container {
    font-family: Arial, sans-serif;
    width: 8.5in;
    height: 11in;
    background-color: #f1f5f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    line-height: 25px;
}

.logo {
    width: 250px;
    /* Reduce height to center the image */
    height: 150px;
}

.header img {
    width: 300px;
}

.company-details {
    text-align: right;
    font-size: 12px;

}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
}

.info-left {
    width: 50%;
    line-height: 10px;
}

.info-right {
    width: 50%;
    line-height: 10px;

    .info p {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .info span {
        display: inline-block;
        width: 180px;
        border-bottom: 1px solid black;
    }
}

.line {
    border-top: 4px solid black;
    margin-top: 10px;
}

.quotation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 12px;
}

.quotation-table th {
    background-color: #d3d3d3;
    padding: 6px;
    border: 1px solid black;
    text-align: center;
}

.quotation-table td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

.quotation-header {
    background-color: #034892;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 6px;
}

.terms-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.terms {
    width: 60%;
    font-size: 12px;
}

.subtotal-box {
    width: 40%;
    border: 1px solid black;
    font-size: 12px;
    line-height: 15px;
}

.approval-section {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

.approval-section div {
    width: 30%;
}

/* END OF QUOTATION */


/* PAYMENT DETAILS */
.payment-details {
    background-color: #f1f5f9;
    width: 480px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.payment-details h3 {
    color: #122444;
    font-weight: bold;
}

.form-container {
    width: 100%;
    height: auto;
}

.form-container h4 {
    color: #112240;
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    color: #112240;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.change-password {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.submit-btn {
    padding: 8px 15px;
    background-color: #064e3b;
    color: white;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.submit-btn:hover {
    transform: scale(1.02);
}

/* END OF PAYMENT DETAILS */



/* FOOTER */
.footer {
    background-color: #122444;
    color: white;
    padding: 40px 0;
}

.footer-box {
    display: flex;
    justify-content: center;
}

.footer-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-images img {
    width: 80%;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.quick-links {
    width: 15%;
}

.quick-links ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.quick-links li a {
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.quick-links li:hover {
    transform: scale(1.05);
}

.divider {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}

/* FOOTER */